-Dcatalina.home=/Users/lichao/Documents/Application/GitHub/tomcat
-Dcatalina.base=/Users/lichao/Documents/Application/GitHub/tomcat
-Djava.endorsed.dirs=/Users/lichao/Documents/Application/GitHub/tomcat/endorsed
-Djava.io.tmpdir=/Users/lichao/Documents/Application/GitHub/tomcat/temp
-Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager
-Djava.util.logging.config.file=/Users/lichao/Documents/Application/GitHub/tomcat/conf/logging.properties
-Djava.protocol.handler.pkgs=org.apache.catalina.webresources
-Djdk.tls.ephemeralDHKeySize=2048
-Duser.language=en
-Duser.region=US
-Dfile.encoding=UTF-8